Print HeLLo World

In [ ]:
print("Hello word")
x=10;

Hello word

# **Variables**

---

In [ ]:
x=7
y=3
print(x+y)

10

In [ ]:
total = x+y
print(total)

10

In [ ]:
name = "Adam"
name2 = "Eva"
print(name , name2)

Adam Eva

Types

In [ ]:
x =10
type(x)

int

In [ ]:
type(10.5)

float

In [ ]:
type(name)

str

#Arithmetic operators

In [ ]:
multiplication = 7*4
print (multiplication)

28

In [ ]:
add = 10+15
print(add)

25

In [ ]:
sub = 40-8
print(sub)

32

In [ ]:
Exponentiation = 2**10
print(Exponentiation)

1024

#True Division (/) vs. Floor Division (//)

In [ ]:
True_Division = 7/4
print(True_Division)

1.75

In [ ]:
Floor_Division = 7//4
print(Floor_Division)

1

In [ ]:
remainder = 15%7
print(remainder)

1

#Relational Operators

In [ ]:
x = 105
y = 100

In [ ]:
x>y

True

In [ ]:
x<y

True

In [ ]:
x==y

False

In [ ]:
x!=y

True

In [ ]:
x>=y

False

In [ ]:
x<=y

True

Chaining Comparisons

In [ ]:
x = 3
y = 10

In [ ]:
1 <= x <= 5

False

In [ ]:
1 <= y <= 5

True

#Print Function

In [ ]:
print('Welcome', 'to', 'Python!')

Welcome to Python!

In [ ]:
print('Welcome\nto\n\nPython!')

Welcome
to

Python!

Ignoring a Line Break in a Long String

In [ ]:
print('this is a longer string, so we \
split it over two lines')

this is a longer string, so we split it over two lines

Printing the Value of an Expression

In [ ]:
print('Sum is', 7 + 3)

Sum is 10

#IF statement

In [ ]:
grade = 85
if grade>=60:
  print("passed")

passed

#If else statement

In [ ]:
grade =85
if grade>=60:
  print("passed")
else:
  print("fail")

passed

Conditional expression

In [ ]:
result = ('Passed' if grade >= 60 else 'Failed')

In [ ]:
print(result)

Passed

#While Statement

In [ ]:
number = 1

while (number<10):
  print(number, end=" ") #print in same line with space using end =" "
  number+=1

1 2 3 4 5 6 7 8 9

while statement to find the first power of 3 larger than 50:

In [ ]:
product = 3
while product<=50:product = product*3

In [ ]:
print(product)

81

#For statement

In [ ]:
for character in "programming":
  print(character, end=" ")

p r o g r a m m i n g

Let’s use a for statement and the built-in range function to iterate precisely 10 times, displaying the values from 0 through 9:

In [ ]:
for counter in range(10):
  print(counter, end=" ")

0 1 2 3 4 5 6 7 8 9

Use the range function and a for statement to calculate the total of the integers from 0 through 1,000,000.

In [ ]:
otal = 0
for number in range(1000001):
  total = total+number

print(total)

500000500010

Function range also has two- and three-argument versions. As you’ve seen, range’s one argument version produces a sequence of consecutive integers from 0 up to, but not including, the argument’s value. Function range’s two-argument version produces a sequence of consecutive integers from its first argument’s value up to, but not including, the second argument’s value, as in:

In [ ]:
for number in range(5,10):
  print(number, end=" ")

5 6 7 8 9

Function range’s three-argument version produces a sequence of integers from its first argument’s value up to, but not including, the second argument’s value, incrementing by the third argument’s value, which is known as the step:

In [ ]:
for number in range(0,10,2):
  print(number, end=" ")

0 2 4 6 8

If the third argument is negative, the sequence progresses from the first argument’s value down to, but not including the second argument’s value, decrementing by the third argument’s value, as in:

In [ ]:
for number in range(10,0,-2):
  print(number, end=" ")

10 8 6 4 2

Number table print using range function

In [ ]:
number =  int(input())

In [ ]:
for i in range(1,11):
print(number,"X",i,"=",number*i)

Nested For Loop

In [ ]:
for left in range(7):
    for right in range(left,7):
        print("["+str(left)+"|"+str(right)+"]", end =" ")
    print()

#built-in functions

In [ ]:
print("Hi, I am semi-colon. Do you miss me?")
print("Let me know if you miss me or not. ")
s=input()

a=10
b=21
print(max(a,b))
print(min(a,b))

c=10.4
d=int(c)
print(d)

e="python"
print(type(e))

#user defined function

In [ ]:
def add(a, b):
    c=a+b
    return c

a=int(input("Enter a number: "))
b=int(input("Enter a number: "))
d=add(a,b)
print("The sum is", d)

#function with multiple parameters

In [ ]:
def divisor(x,y,m):
    if x%m==0 and y%m==0:
        print("%d & %d are divisible by %d"%(x,y,m))
    elif x%m==0:
        print("only %d is divisible by %d"%(x,m))
    elif y%m==0:
        print("only %d is divisible by %d"%(y,m))
    else:
        print("none of %d & %d is divisible by %d"%(x,y,d))

divisor(10,20,5)
divisor(12,20,5)
divisor(10,22,5)
divisor(2,5,3)

#function without parameter

In [ ]:
def summation():
    a=3+8
    return a

b=summation()
print(b)

In [ ]:
#local scope

def local_scope():
    x=7
    return x

a=local_scope()
print(a)
print(x)

#global scope

In [ ]:
x=10

def global_scope():
    print(x)

print(x)
global_scope()

#python standard library
csv module

In [ ]:
import csv

with open('test.csv', newline='') as csvfile:
    tmp = csv.reader(csvfile, delimiter=' ', quotechar='|')
    for row in tmp:
        print(', '.join(row))

math module

In [ ]:
import math

print(math.pi)          #value of pi

x=9.2
print(math.ceil(x))     #round to the smallest integer not less than x
print(math.floor(x))    #rount to the largest integer not greater than x

print(math.sin(78))     #trigonometric sine of x (x in radians)

print(math.pow(2,3))    #2 to the power 3

print(math.sqrt(16))    #square root of 16